/*about.css*/
.middle {
	position: absolute;
	top: 67px;
	border-top: 2px solid blue;
	border-bottom: 2px solid green;
}
.middle p{
	font-size: 1.3em;
	color: red;
}
.icon_1,
.icon_2,
.icon_3 {
	width: 50px;
	height: 50px;
	background-size: cover;
}

.icon_1{
	background-image: url('/images/1.png?__sprite');
}

.icon_2{
	background-image: url('/images/2.png?__sprite');
}

.icon_3{
	background-image: url('/images/3.png?__sprite');
}