html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  tap-highlight-color: rgba(0, 0, 0, 0.05);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0.05); }

body {
  font-family: sans-serif;
  font-size: 12px; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, em {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

i, em, address {
  font-style: normal; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

iframe {
  line-height: 0;
  overflow: hidden; }
